.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 460px;
    margin: 0 5% 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e5ddd5;
    margin-top: 7%;
  }
  
  .top-bar {
    padding: 10px;
    background-color: #075e54;
    color: #fff;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .top-bar h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .message-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message-wrapper.user {
    align-items: flex-end;
  }
  
  .message-wrapper.receiver {
    align-items: flex-start;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
    background-color: #dcf8c6;
    position: relative;
  }
  
  .message.user {
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  
  .message.receiver {
    background-color: #fff;
    align-self: flex-start;
  }
  
  .message-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message-text {
    margin-bottom: 5px;
    position: relative;
  }
  
  .message-status {
    font-size: 12px;
    margin-left: 5px;
  }
  
  .message-status.seen {
    color: #34b7f1; /* Blue tick for seen */
  }
  
  .message-status.delivered {
    color: #888; /* Gray tick for delivered */
  }
  
  .message-timestamp {
    font-size: 0.75rem;
    color: #888;
    text-align: right;
  }
  
  .message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .message-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }
  